*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3E2A35;
  font-family: 'Open Sans', sans-serif;
}

.header {
  color: #FFF;
  justify-content: space-between;
  letter-spacing: .2rem;
  margin: 1.5rem;
  text-transform: uppercase;
}

h1 {
  position: relative;
}

.header__title--span::before {
  background-image: url("./assets/foto-finder-logo.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  content: "";
  height: 2rem;
  left: 6.1rem;
  position: absolute;
  width: 2.7rem;
}

.header__title--span {
  margin-left: 2.7rem;
}

.header__search--container {
  border: 2px solid #B2A1B1;
  border-radius: 5px;
  display: flex;
  float: right;
  width: 23%;
}

.header__search {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.header__search--input {
  border: none;
  color: #B2A1B1;
  height: 2rem;
  padding-left: 0.5rem;
  width: 105%;
}

.header__search--btn {
  background-color: #C2B2B4;
  background-image: url("./assets/magnifier.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
  border: 0;
  height: 2rem;
  width: 2.5rem;
}

.header,
.input-form__container {
  display: flex;
}

.input-form__container {
  color: #C2B2B4;
  flex-direction: column;
  width: 50%;
}

.input-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.input-form__labels {
  margin-bottom: .5rem;
}

.input-form__field {
  height: 2.5rem;
  margin-bottom: .75rem;
}

.input-form__btn-container {
  display: flex;
  justify-content: space-between;
}

.input-file {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  width: 0.1px;
	z-index: -1;
}

.input-file,
#btn--choose-file {
  margin-top: 1.5rem;
  padding-top: 0.6rem;
  text-align: center;
  width: 100%;
}

.input-form__btn {
  background-color: #5B4447;
  border: 0;
  color: #FFF;
  height: 2.5rem;
  margin-top: 2rem;
  width: 16rem;
}

.input-form__btn:hover {
  background-color: #938284;
}
